{% extends 'base.html' %}

{% load bootstrap3 %}
{% load socialaccount %}

{% block container %}
<div class="col-md-6">
    <h3>Already have an account? Sign in here:</h3>
    <form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit='Sign In' %}{% endbuttons %}
    </form>
    
    {% providers_media_js %}
    <a class="btn btn-default btn-lg" href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>
    <a class="btn btn-default btn-lg" href="{% provider_login_url "google" %}">Google Connect</a>
    <a class="btn btn-default btn-lg" href="{% provider_login_url "twitter" %}">Twitter Connect</a>
</div>
<div class="col-md-6">
    <h3>Don't have an account?</h3>
    <a href="{% url 'account_signup' %}" 
       class="btn btn-default btn-lg btn-success">
       Create account
    </a>
    <br>
    <h3>Lost your password?</h3>
        <a href="{% url 'account_reset_password' %}" 
           class="btn btn-default btn-lg btn-danger">
        Recover password</a>
</div>
{% endblock container %}