{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div>
    <h3>Edit Sighting</h3>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="form-group">
        <div class="">
          <button type="submit" class="btn btn-primary" name="submit">Update</button>
          <a href="{% url 'my_sighting' %}" class="btn btn-default" name="submit">Cancel</a>
        </div>
      </div>

    </form>

</div>
{% endblock content %}
